*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg,#1473b6,#7b3167);
    height: 100vh;
    
}
.login{
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}